*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.navbar{
 background-color: rgb(112, 170, 224);
 border-radius: 30px;
}
.navbar ul{
 overflow: auto;
}
.navbar li{
 float: left;
 list-style: none;
 margin: 13px 20px;

}
.navbar li a{
 padding: 3px 3px;
 text-decoration: none;
 color: white;
}
.navbar li a:hover{
 color: brown;
}
.search{
 float: right;
 color: white;
 padding: 12px 75px;
}
.navbar input{
 border: 2px solid;
 border-radius: 15px;
 padding: 3px 17px;
 /* width: 125px; */
}