div{
 border: 1px solid;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Lucida Sans Regular';
}
#main-header{
 background-color: #212121;
}
.row{
 display: flex;
}
#main-header a{
 color: white;
 text-decoration: none;
 display: inline-block;
 padding: 7px 15px;
 font-size: 14px;
}
nav ul li {
 display: inline-block;
}
.top-menu{
 background-color: #000000;
}
.logo{
 width: 20%;
}
.menu{
 width: 80%;
}
.ml-a{
 margin-left: auto;
}
.search{
 width:650px;
 padding: 10px;
 border-color: #3d3d3d9d;
 border: 0;
}
.t-menu{
 margin-right: 55px;
}
.main-menu a{
 font-weight: 700;
 letter-spacing: 1px;

}
.logo{
 text-align: center;
 line-height: 85px;
}
.logo img{
 vertical-align: middle;
 height:50px;
 width:80px;
}







































