body
{
 height: 100%;
 font-family: 'Open Sans',Arial,sans-serif;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

input
{
 margin: 3px 6px;
}


td
{
 vertical-align: middle;
 text-align: center;

}
td th
{
 border: 0;
}
.top
{
 height: 120px;
 /* min-height: 200px; */
 /* width: 50%;
 background: white;
 position: absolute;
 top: 50%; */
}
.container
{
 width: 960px;
 margin: 0 auto;
}
a
{
 text-decoration: underline;
 text-align: center;
 color: black;
 font-size: 13px;
 margin: 1px auto;
 padding: 4px;
 line-height: 10px;
 /* margin: 0 auto; */
 
}
h1
{
 text-align: center;
 color: black;
 font-style: italic;
 padding: 25px;
 font-size:4em;
 font-weight: 400;
 font-family: DauphinPlain;
}
h4
{
 text-align: center;
 /* font-weight: bold; */
 font-size: 14px;
 padding: 2px;
 font-style: italic;
 font-weight: lighter;
}
h5
{
 text-align: center;
 padding: 1px;
 font-weight: normal;
}


.grd{
 height: 3px;
 background: radial-gradient(#2e2d2c,#dadada,white);
 border: 0;
 width: 80%;
 
}
.text
{
 text-align: center;
}
.column
{
 float: left;
 width: 50%;
 padding: 10px;
}
.row:after
{
 /* content: ""; */
 display: table;
 clear: both;
}
p
{
 /* text-align: center; */
 text-align: justify;
 /* text-justify: distribute; */
}
h2
{
 font-size: 24px;
 line-height: 24px;
 text-align: left;
 margin-bottom: 10px;
}
.trans
{
text-align: left;
margin: 0 3%;
}