*{
 margin: 0;
 padding: 0;
}
.container{
background-color: brown;
height: 600px;
width: 1200px;
display: grid;
/* grid-template-columns: 133px 133px 133px ;
grid-template-rows: 133px  133px 133px; */
column-gap: 12px;
/* grid-template-columns: repeat(3,1fr); */
grid-template-columns: repeat(3,1fr);
/* grid-template-rows: repeat(3,1fr); */
grid-template-rows: 43px 1fr 43px;
row-gap: 12px;
/* justify-items: center; */
/* align-items: center; */
/* justify-items: right; */
/* place-items: center; */
}
.item{
background-color: cadetblue;
/* height: 100px;
width: 100px; */
}
.item1{
 /* grid-column-start: 1;
 grid-column-end: 4; */
 grid-column: 1/span 3;
 /* background-color: black; */
 /* justify-self: right; */
}
.footer{
 grid-column-start: 1;
 grid-column-end: 4;
}